<nav>
    <ul class="navbar-genre">
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Action'}) }}">Action</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Drame'}) }}">Drame</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Aventure'}) }}">Aventure</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Comédie'}) }}">Comédie</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Fantastique'}) }}">Fantastique</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Horreur'}) }}">Horreur</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Science-Fiction'}) }}">Science-Fiction</a></li>
        <li><a href="{{ path('app_film_by_genre', {'genreName': 'Thriller'}) }}">Thriller</a></li>
    </ul>
</nav>
